# Global Variables
vault_addr = "https://mysm.amat.com:8200"

# Audit Variables
# audit_devices = [
#   {
#     description = "A local audit device."
#     type        = "file"
#     options = {
#       file_path = "/dev/null"
#     }
#   },
#   {
#     description = "A socket audit device."
#     type        = "socket"
#     path        = "app_socket"
#     local       = false
#     options = {
#       address     = "socket:8000"
#       socket_type = "tcp"
#     }
#   },
#   {
#     description = "A syslog audit device."
#     type        = "syslog"
#     local       = false
#     options = {
#       facility = "AUTH"
#       tag      = "vault"
#     }
#   }
# ]

# OIDC Variables
oidc_client_id       = "FILLE_ME"
oidc_client_secret   = "FILLE_ME"
oidc_bound_audiences = ["SAME_AS_IN_oidc_client_id"]
oidc_discovery_url   = "https://myloginqa.amat.com:8080"

max_lease_ttl     = "1h"
default_lease_ttl = "1h"

oidc_roles = {
  admin = {
    token_policies = ["admin-policy"]
    bound_groups   = ["AMAT-APP-MySM-Administrators"]
  },
  operator = {
    token_policies = ["operator-policy"]
    bound_groups   = ["AMAT-APP-MySM-Operators"]
  },
  developer = {
    token_policies = ["developer-policy"]
    bound_groups   = ["AMAT-APP-MySM-Developers"]
  }
}